.contactClass {
	position: relative;
	background: rgb(0, 0, 0);
	display: flex;
	justify-content: center;
	height: 800px;
	background: linear-gradient(
		60deg,
		rgba(0, 0, 0, 1) 58%,
		rgba(59, 28, 28, 1) 58%
	);
}

.contactBox {
	position: absolute;
	width: clamp(100px, 90%, 1000px);
	margin: 80px 50px;
	display: flex;
}

.contactFormWrapper {
	width: 50%;
	padding: 8% 5% 10% 5%;
}

.emailImg {
	display: flex;
	margin-bottom: 2rem;
}

img {
	width: 180px;
	height: 180px;
}
.contactAddress {
	color: #fff;
	font-family: 'Poppins', sans-serif;
	position: absolute;
}

h4 {
	font-weight: normal;
}

@media only screen and (max-width: 800px) {
	.contactFormWrapper {
		width: 100%;
	}

	.contactFormWrapper {
		border-radius: 0 0 10px 10px;
	}
}

@media only screen and (max-width: 400px) {
	.contactBox {
		width: 95%;
		margin: 8% 5%;
	}
}

.formItem {
	position: relative;
}

label,
input,
textarea {
	font-family: 'Poppins', sans-serif;
}

label {
	position: absolute;
	top: 10px;
	left: 2%;
	color: #999;
	font-size: clamp(14px, 1.5vw, 18px);
	pointer-events: none;
	user-select: none;
}

input,
textarea {
	width: 100%;
	height: 80%;
	outline: 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 20px;
	padding: 12px;
	font-size: clamp(15px, 1.5vw, 18px);
}

input:focus + label,
input:valid + label,
textarea:focus + label,
textarea:valid + label {
	font-size: clamp(13px, 1.3vw, 16px);
	color: #ffe163;
	top: -20px;
	transition: all 0.225s ease;
}

.submitBtn {
	background-color: transparent;
	color: #ffe163;
	font-family: 'Poppins', sans-serif;
	width: 150px;
	height: 45px;
	font-size: clamp(16px, 1.6vw, 18px);
	display: block;
	border: solid 1px #ffe163;
	cursor: pointer;
}

.submitBtn:hover {
	transform: scale(1.1, 1.1);
	background-color: var(--very-dark-violet);
	color: rgb(212, 175, 55);
	font-family: 'poppins', sans-serif;
}

.submitBtn:active {
	transform: scale(1.1, 1.1);
	filter: sepia(0.5);
}

@media only screen and (max-width: 800px) {
	h2 {
		font-size: clamp(40px, 10vw, 60px);
	}
}

@media only screen and (max-width: 400px) {
	h2 {
		font-size: clamp(30px, 12vw, 60px);
	}

	.links {
		padding-top: 30px;
	}

	img {
		width: 38px;
		height: 38px;
	}
}
/*\\\\\\\\\\*/

.contactLinks {
	display: flex;
	position: absolute;
	right: 25rem;
	top: 20rem;
}

.contactLink {
	width: 50%;
	padding: 8% 5% 10% 5%;
}

.links {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 50px;
}

.link {
	margin: 10px;
	cursor: pointer;
}

/*


MOBILE START

*/
@media (max-width: 768px) {
	/*breakpoint*/
	html,
	body {
		margin: 0;
		padding: 0;
		width: 100%;

		overflow-x: hidden;
	}

	.contactClass {
		display: flex;
		height: 1000px;
		padding-top: 10px;
		position: relative;
		justify-content: center;
		background: rgb(0, 0, 0);
		background: linear-gradient(
			60deg,
			rgba(0, 0, 0, 1) 58%,
			rgba(59, 28, 28, 1) 58%
		);
	}
	.contactLinks {
		position: absolute;
		top: 35rem;
		left: 5rem;
	}

	.contactFormWrapper {
		width: 270px;
		align-items: center;
		justify-content: center;
	}
}
